.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--soft-green);
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  gap: 1rem;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.titleContainer a {
  display: flex;  /* Vertically align icon within link */
  align-items: center;
}

.descriptionList {
  margin: 1rem;
  margin-top: 0.5rem;
}
.descriptionList li {
  margin-bottom: 0.5rem;
}

.carousel {
  max-width: 50%; /* Restrict carousel to half the card width */
  border-radius: 10px;
  background-color: var(--off-black);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: auto;  /* Keep aspect ratio */
  object-fit: contain;  
}

.mobileProject {
  max-width: 40%; /* Reduce carousel width for mobile projects */
}
.mobileProject img {
  width: 100%;
  height: auto;
  max-height: 600px; /* Max height for mobile screenshots */
}

@media (max-width: 660px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .detailsWrapper {
    align-items: center;
  }
  .carousel {
    max-width: 100%;
  }
  .mobileProject {
    max-width: 90%; 
  }
  .mobileProject img {
    max-height: 100%; /* Full height on mobile */
  }
}
